# matlab backup files
*.asv
*.m~

# vscode project directory
*.vscode

# pycharm project directory
*.idea

# compiled bytecode
__pycache__/
*.pyc

# packaging
build/
dist/
.eggs/
*.egg-info/

# testing
*.pytest_cache
*.coverage
htmlcov/